<div class="circle photo" xmlns="http://www.w3.org/1999/html">
</div>

<div class="shadow-circle photo-background "></div>

<h1 class="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marthinus
    Engelbrecht</h1>

<div class="container">

    <div class="large-6 columns">
        <div class="transparency"></div>
        <div class="text-box ">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <h2 class="headings">About me:</h2>

            <p>As cliché as it might sound I can honestly say "I'm passionate about what I do". I love learning new
                technology. To me it's all about
                craftsmanship. I love developing
                software that is elegant yet effective. I love a simple clean crisp application programming interface,
                clean
                code,
                code that is under test, and easily readable code.
            </p>

            <p> On a more satirical but relevant note; I have two pet peeves; acronyms and bureaucracy!
                The first obscure valuable information about what we are really here to do and second complicates
                executing that
                task. Thus, I believe those 2 things should be actively fought within an origination to make us as developer more effective and in turn valuable
            </p>

            <p> I'm current working for a company called Symbiotics. We mainly work in the banking industry and I've
                been
                based at Standardbank for the last 3 years. I currently form part of the client side framework team
                where
                the focus on innovation, code quality, code reuse and building framework in when suitable. In this
                capacity
                I'm involved in various proof of concept (unfortunately I can't elaborate on this due to a
                confidentiality agreements).
            </p>

            <p> One of the most notable project that I'm part of, that I can share, is Standard Bank's new internet
                banking
                <a href="https://experience.standardbank.co.za">website</a>. I've been having the privilege of
                working with some really intelligent and professional individuals from
                <a href="http://www.thoughtworks.com/">Thoughtworks</a> on adopting agile practices by building
                quality
                into the development
                process in various ways, be it 100% branch test coverage, automated build pipelines, code critique
                sessions, sprints, retrospectives,
                pair programming, or deploying new functionality faster so that we can fail fast and learn fast.
            </p>

            <p> Quick and dirty
                might work for the one man business, but when it comes to developing enterprise software
                solutions the complexity of
                the problem usually require a keen eye for quality to prevent code rot. Continuous improvement is
                something I strive for in my personal and professional capacity
            </p>

            <p>
                Before I joined Symbiotics I worked for a company called Accelr8 IT Software for 1 year, it's since
                closed down. We
                built a Customer Relational Management system with a Time and Attendance component that integrated
                into biometric access control. I wrote all the code for the biometric integration.
            </p>

            <p>I view myself as a polyglot full stack developer with my strength being on client-side that can handle
                building a webservice if needs be.</p>

        </div>
    </div>

    <div class="large-6 columns">
        <div class="transparency"></div>
        <div class="text-box">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <h2 class="headings">Community involvement</h2>

            <p>The open source community is thriving. Recently, I started getting more involved. In
                my personal capacity I'm currently building a pro-bono web app. It's still in the early stages of
                development, but is
                currently running <a href="https://blaze-ulc.herokuapp.com/">here</a> on Heroku. To see my code for this
                website
                and other involement
                you can go to <a href="https://github.com/marthinus-engelbrecht">my github account</a>
            </p>


            <h2 class="headings">Qualifications</h2>

            <p>
                <strong> Degree:</strong> B.Sc. (I.T. Management Stream) at the <a
                    href="http://www.unisa.ac.za/default.html">University
                of South Africa(UNISA)</a>
            </p>

            <p>
                <strong>Certificates:</strong> Oracle Certified Associate, Java SE 7 Programmer
            </p>

            <h2 class="headings">Skills</h2>

            <p><strong><a href="https://www.youtube.com/watch?v=sBbGAzs9k-c">Polyglot Programmer:</a></strong>
                Javascript, Java, C#, C++, Unipaas, Delphi, Pascal, MySQL, Microsoft SQL, SASS</p>

            <p><strong>Frameworks: </strong> Spring, AngularJS, ZK, ASP.NET</p>

            <p><strong>Technology: </strong>Grunt, NodeJS, Maven, Bower, NPM, Heroku, Git</p>

            <p><strong>Operating Systems: </strong>MacOS, Linux, Windows</p>

            <p><strong>Tools: </strong>Eclipse, Webstorm, IntelliJ, Visual Studios, Visual Paradigm, MySQL workbench</p>

            <h2 class="headings">Current reading material: </h2>
            <ul>
                <li>The Clean Coder - Uncle Bob</li>
                <li>Javscript: The Good Parts - Douglas Crockford</li>
            </ul>

            <h2 class="headings">Contact Details: </h2>
            <ul>
                <li>Number: +27798754516</li>
                <li>e-mail: mj.engelbrecht@gmail.com</li>
            </ul>

        </div>
    </div>
</div>