<div class="navbar" ng-controller="NavbarController">
    <div class="row">
        <div class="small-2"></div>
        <img class="logo" src="../blazeLogo.jpg"/>

        <div class="small-2"></div>
        <div class="">
            <div class="row">
                <div class="large-2 medium-4 columns" ng-repeat="item in menu">
                    <button ui-sref="{{item.state}}" type="button" class="nav-button" ng-model="singleModel">
                        {{item.title}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

